.header-row {
    display: flex;
    border: none;
    cursor: pointer;
    font-weight: bold;

    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

.data-row {
    display: flex;
    border: none;
}

.expanded-data-row {
    display: flex;
    border: none;
    background-color: #f5f5f5;
}

.loading-row {
    text-align: center;
    height: 40px;
}

.background-gray {
    background-color: #f5f5f5;
}

.loading-row div {
    padding-top: 12px;
}

button.list-group-item:focus,
button.list-group-item.focus {
    background-color: #f5f5f5;
    outline: none !important;
}

button.list-group-item:hover,
button.list-group-item.hover {
    background-color: #f5f5f5;
    outline: none !important;
}

.league-table {
    min-width: 800px;
}