.Select-control {
  height: 34px;
}

.Select-menu-outer {
  width: auto;
  margin-top: 15px;
}

.Select-option {
  white-space: nowrap;
}

.clearFiltersButton {
  border: none;
  outline: none !important;
  box-shadow: none;
}

.x-button {
    color: white;
    position: absolute;
    margin-left: -10px;
    cursor: pointer;
}

.btn-selected-sub20-button {
    color: white;
    background-color: #0185ea !important;
    border-color: #0185ea !important;
}

button.btn-selected-sub20-button:hover,
button.list-group-item.hover {
    color: white !important;
}